@tailwind base;
@tailwind components;
@tailwind utilities;

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.remoteDeviceBg {
  background-image: url(https://tailwindui.com/img/beams-home@95.jpg);
  background-size: 210.375rem 100%;
}
